echo node_modules/ >> .gitignore
echo .env >> .gitignore
echo dist/ >> .gitignore
echo build/ >> .gitignore
echo __pycache__/ >> .gitignore
echo venv/ >> .gitignore

.xmake
build
.idea
.cache
compile_commands.json